<!DOCTYPE html>
<html>
  <head>
    <title>Categories</title>
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/categories.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main class="category-container">
      <h2>Categories</h2>
      <div>
        <% if(locals.categories && categories.length > 0) { %> <%
        categories.forEach(category => { %>
        <div class="category-card">
          <a href="/categories/<%= category.id %>/players">
            <%=category.category_name %>
          </a>
          <p>
            <a href="/categories/<%= category.id %>/update"> Update</a>
            <span>|</span>
            <a href="/categories/<%= category.id %>/delete">Delete</a>
          </p>
        </div>
        <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>
