<!DOCTYPE html>
<html>
  <head>
    <title><%= category.category_name + " players" %></title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2><%= category.category_name + " players" %></h2>
      <div>
        <% if(locals.players && players.length > 0) { %> <%
        players.forEach(player => { %>
        <div>
          <p><%= player.player_name %></p>
          <p><%= player.league_name %></p>
          <a href="/players/<%=player.id%>/update">Update</a>
          <a href="/players/<%=player.id%>/delete">Delete</a>
        </div>
        <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>
